/* =-=-=-=-=-=-=-=-=-=-=-=-
         Font Imports
=-=-=-=-=-=-=-=-=-=-=-=- */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,698&display=swap');


/* =-=-=-=-=-=-=-=-=-=-=-=-
         Variables
=-=-=-=-=-=-=-=-=-=-=-=- */
$hero-color: #639275;
$background-color: white;//UPDATING TO WHITE AS PER WIREFRAME
$white:rgba(255, 255, 255, .5);
$background-dark-mode: #181A1B;


// HERO FONT: PLAYFAIR DISPLAY ITALIC
$hero-font: 'Playfair Display', serif;
// SECONDARY FONT: HELVETICA
$secondary-font: 'Helvetica', serif;

/* =-=-=-=-=-=-=-=-=-=-=-=-
         @Mixins
=-=-=-=-=-=-=-=-=-=-=-=- */
@mixin profile-pic($img-size, $padding-size) {
    height: $img-size;
    border-radius: 50%;
    object-fit: cover;
    padding: $padding-size;
}

@mixin side-bar-overall() {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: center;
    margin: 3rem 2rem 3rem 2rem;
    padding: 0 2rem 0 2rem;
}

@mixin side-bar-detail-default () {
    font-family: $secondary-font;
    vertical-align: top;
    text-align: center;
}

@mixin default-btn () {
    width: 90%;
    background-color: $hero-color;
    color: #FFFFFF;
} 


/* =-=-=-=-=-=-=-=-=-=-=-=-
      Component Styles
=-=-=-=-=-=-=-=-=-=-=-=- */

// Back ground and Default Font
.entire-page {
    font-family: $hero-font;
}

.page-background {
    position: fixed;
    background: radial-gradient(circle at bottom 3em left 5em, #639275 125px, rgba(0,0,0,0) 225px);
    z-index: 0;
    width: 100%;
    min-height: 100%;
}

.master-logo {
    position: fixed;
    bottom: 5px;
    left: 5px;
    font-size: 54px;
    z-index: 0;
}

// Dark Mode Switch Styling
.switch {
    position: fixed;
    display: inline-block;
    width: 60px;
    height: 34px;
    z-index: 9999;
    right: 2.5em;
    top: 1.5em;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 2em;
        background-color: #CCCCCC;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        border-radius: 2em;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #10171d;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #10171d;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
}

// Nav Bar Styling
.nav-container {
    display: flex;
    border-bottom: 1px solid black; 
    height: 5rem;
    background: $white;
    font-size: 2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    
    .logo {
        flex: 3;
    }

    .icons{
        position: absolute;
        right: 5rem;

        .nav-link {
            margin: 0 3rem;
            color: black;
            position: relative;
            bottom: -20px; 
            left:-150px;
            font-size: 28px;
        }

        .nav-img {
            height: 50px; 
            width: 50px; 
            border-radius: 50%;
            object-fit: cover;
            position: relative; 
            bottom: 30px; 
            right:-500px;
        }
    }


}

// Overall Default Page Styling
.home-container, .profile, .login {
    display: flex;
    width: 100%;
    z-index: 20;
}


//Background-card & Side-Bar styling 
.background-card {
    position: relative;
    top: 50px;
    background: rgba(236,237,238, .5);
    border-radius: 15px;
    max-height: 950px;
    margin-left: 50px;
   

// Side Bar Styling
.side-bar {
    flex: 3;
    margin: 1%;
    width: 100%;
    z-index: 5;
    max-width: 400px;
   
    .side-bar-divider {
        width: 75%;
    }

    .side-bar-divider {
        background: linear-gradient(to right #FFFFFF, #000000, #FFFFFF);
    }

    .side-bar-img {
        @include profile-pic($img-size: 8rem, $padding-size: 3rem);
    }

    .side-bar-top {
        text-align: center;
    }

    .side-bar-center {
        @include side-bar-overall();
    }
    
    .side-bar-bottom {
        @include side-bar-overall();
    }

    .side-bar-label {
        margin: 0 1rem;
        padding: 1rem 0;
        position: absolute;
        left: 60px;
        color: $hero-color;
        text-align: left;
        transform: rotate(-90deg) translateY(-7rem);
     
    }

    .current-song{
        @include side-bar-detail-default ();
        width: 11rem;
        margin: 10px;
    }

    .side-bar-top-artists {
        @include side-bar-detail-default ();
        list-style-type: none;
        text-align: left;
        position: relative;
        left: -20px;
        margin: 15px;
       
    }
}

}

// Post Form Creation Styling
.post-form {
    margin: auto;
    width: 60%;
    padding: 10px;
    position: relative;
    background: rgba(236,237,238, .5);
    border-radius: 15px;
    max-height: 800px;
    min-height: 350px;
    margin-top: 50px;
    margin-bottom: 40px;




    .post-form-img {
        @include profile-pic($img-size: 4rem, $padding-size: 3rem,);
      
    }

    .post-form-input {
        resize: none;
    }

    .post-form-img {
        max-width: 1000px;
    }

    .post-img-label {
        
    }
}

// Posts Styling
.timeline {
    flex: 6;
    width: 40rem;
    // display: flex;
}

// Post display Styling
.post {
    width: 60%;//MAIN POST FEED
    font-family: $secondary-font;//HELVETICA
    margin: auto;
    padding: 10px;
    position: relative;
    background: rgba(236,237,238, .5);
    border-radius: 15px;
    max-height: 800px;
    min-width: 500px;
    min-height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    
    .post-profile-img {
        @include profile-pic($img-size: 4rem, $padding-size: 3rem);
      
        
    }

    .post-img { //FOR ANY IMAGE THE USER ADDS
        width: 100%;
        max-height: 250px;//MAKING IMAGE SMALLER
        object-fit: contain;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .like-icon {
        width: 2rem;
        margin-right: 1rem;
        cursor: pointer;
        position: relative;
        bottom: -1.75em;
        left: -12em;
    }

    .delete-post {
        background: #FFC7CE;
        color: #D2604C;
        border-radius: 25px;
        position: absolute;
        top: 2rem;
        left: 2rem;
        cursor: pointer
    }

    .edit-text {
        background: #7cb190;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .comment-input {
        border-radius: 5px 0 0 5px;
    }

    .comment-btn {
        background: #7cb190;
        cursor: pointer;
        border-radius: 0 5px 5px 0;
    }
}

// Login Page 
.login-wrapper {

    .login-left {
        position: absolute;
        top: 30%;
        left: 20%;
        font-size: 20px;
        min-width: 400px;

        .login-motto-text {
            width: 70%;
            border: 1px solid blue;
            
        }

        .login-logo-text {
            position: relative;
            left: -200px;
            top: -150px;
        }

        .typed-text {
            position: relative;
            right: -450px;
            font-size: 45px;
            
           
            
        }
    }

    .login-right {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 13%;
        right: 10%;
        text-align: center;
        max-width: 350px;
        font-family: $secondary-font;
        font-size: 15px;
        background: rgba(236,237,238, .5);
        border-radius: 15px;
        max-height: 800px;
        min-height: 315px;
        margin-top: 50px;
        margin-bottom: 50px;
    
        
        .login-btn {
            @include default-btn();
        }
    }

}

// Sign up Page
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 25;

    .register-wrapper {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 13%;
        right: 10%;
        text-align: center;
        max-width: 350px;
        font-family: $secondary-font;
        font-size: 15px;
        background: rgba(236,237,238, .5);
        border-radius: 15px;
        max-height: 800px;
        min-height: 315px;
        margin-top: 50px;
        margin-bottom: 50px;
    
       

        .register-box {
            width: 40%;
            ;
        }
    }
}


// Edit profile side bar styling
.edit-profile {
    font-family: $secondary-font;

    .edit-profile-wrapper {
        margin: auto;
        width: 60%;
        padding: 10px;
        position: relative;
        background: rgba(236,237,238, .5);
        border-radius: 15px;
        max-height: 2000px;
        min-height: 350px;
        margin-top: 50px;
        margin-bottom: 50px;
    
    }

    .profile-display-name, .user-info-label {
        font-family: $secondary-font;
        font-weight: bold;
       

    }

    .edit-profile-btn {
        background: #7cb190;
        font-weight: bold;
        cursor: pointer;
        border-radius: 25px;
    }

    .edit-textarea {
        resize: none;
    }


}