/* =-=-=-=-=-=-=-=-=-=-=-=-
         Font Imports
=-=-=-=-=-=-=-=-=-=-=-=- */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,698&display=swap');


/* =-=-=-=-=-=-=-=-=-=-=-=-
         Variables
=-=-=-=-=-=-=-=-=-=-=-=- */
$hero-color: #639275;
$background-color: white;//UPDATING TO WHITE AS PER WIREFRAME
$white:rgba(255, 255, 255, .5);

// HERO FONT: PLAYFAIR DISPLAY ITALIC
$hero-font: 'Playfair Display', serif;
// SECONDARY FONT: HELVETICA
$secondary-font: 'Helvetica', serif;

/* =-=-=-=-=-=-=-=-=-=-=-=-
         @Mixins
=-=-=-=-=-=-=-=-=-=-=-=- */
@mixin profile-pic($img-size, $padding-size) {
    height: $img-size;
    border-radius: 50%;
    object-fit: cover;
    padding: $padding-size;
}

@mixin side-bar-overall() {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: center;
    margin: 3rem 2rem 3rem 2rem;
    padding: 0 2rem 0 2rem;
}

@mixin side-bar-detail-default () {
    font-family: $secondary-font;
    vertical-align: top;
    text-align: center;
}

@mixin default-btn () {
    width: 90%;
    background-color: $hero-color;
    color: #FFFFFF;
}


/* =-=-=-=-=-=-=-=-=-=-=-=-
      Component Styles
=-=-=-=-=-=-=-=-=-=-=-=- */

// Back ground and Default Font
.entire-page {
    font-family: $hero-font;
}

.page-background {
    top: 0;
    position: fixed;
    width: 100%;
    min-height: 100%;
    background: radial-gradient(circle at bottom 3em left 5em, $hero-color 300px, $background-color 450px);
    font-family: $hero-font;
    z-index: -2;
}

.master-logo {
    position: fixed;
    bottom: 5px;
    left: 2px;
    font-size: 54px;
    z-index: -1;
}

// Nav Bar Styling
.nav-container {
    display: flex;
    border-bottom: 1px solid black; 
    height: 5rem;
    background: $white;
    font-size: 2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    
    .logo {
        flex: 3;
    }

    .icons{
        justify-content: flex-end;
        
        .nav-link {
            margin: 0 3rem;
        }
    }


}

// Overall Default Page Styling
.home-container, .profile, .login{
    display: flex;
    width: 100%;
}


//Background-card styling 
.background-card {
    position: relative;
    top: 150px;
    background: rgba(236,237,238, .5);
    border-radius: 45px;
    max-height: 800px;
   

// Side Bar Styling
.side-bar {
    flex: 3;
    margin: 1%;
    max-width: 300px;
   

   

    .side-bar-divider {
        background: linear-gradient(to right #FFFFFF, #000000, #FFFFFF);
    }

    .side-bar-img {
        @include profile-pic($img-size: 8rem, $padding-size: 3rem);
    }

    .side-bar-top {
        text-align: center;
    }

    .side-bar-center {
        @include side-bar-overall();
    }
    
    .side-bar-bottom {
        @include side-bar-overall();
    }

    .side-bar-label {
        margin: 0 1rem;
        padding: 1rem 0;
        position: absolute;
        left: 60px;
        color: $hero-color;
        text-align: left;
        transform: rotate(-90deg) translateY(-7rem);
     
    }

    .current-song{
        @include side-bar-detail-default ();
        width: 11rem;
        margin: 10px;
    }

    .side-bar-top-artists {
        @include side-bar-detail-default ();
        list-style-type: none;
        text-align: left;
        position: relative;
        left: -20px;
        margin: 15px;
       
    }
}

}

// Post Form Creation Styling
.post-form {
    margin: auto;
    width: 60%;
    padding: 10px;
    position: relative;
    background: rgba(236,237,238, .5);
    border-radius: 45px;
    max-height: 800px;
    min-height: 350px;
    margin-top: 50px;
    margin-bottom: 50px;




    .post-form-img {
        @include profile-pic($img-size: 4rem, $padding-size: 3rem,);
      
    }

    .post-form-input {
        resize: none;
    }
}

// Posts Styling
.timeline {
    flex: 6;
    width: 40rem;
    // display: flex;
}

// Post display Styling
.post {
    width: 60%;//MAIN POST FEED
    font-family: $secondary-font;//HELVETICA
    margin: auto;
    padding: 10px;
    background: rgba(236,237,238, .5);
    border-radius: 45px;
    max-height: 800px;
    min-height: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    
    .post-profile-img {
        @include profile-pic($img-size: 4rem, $padding-size: 3rem);
      
        
    }

    .post-img { //FOR ANY IMAGE THE USER ADDS
        width: 100%;
        max-height: 150px;//MAKING IMAGE SMALLER
        object-fit: contain;
    }

    .like-icon {
        width: 2rem;
        margin-right: 1rem;
        cursor: pointer;
       
    }
}

// Login Page 
.login-wrapper {

    .login-left {
        position: absolute;
        top: 30%;
        left: 20%;
        font-size: 20px;
        min-width: 400px;

        .login-motto-text {
            width: 70%;
            border: 1px solid blue;
        }

        .typed-text {
            display: flex;
            justify-content: flex-end;
        }
    }

    .login-right {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 25%;
        right: 10%;
        text-align: center;
        background: rgba(255, 255, 255, .25);
        border-radius: 45px;
        height: 400px;
        width: 350px;

        .login-btn {
            @include default-btn();
        }
    }

}

// Sign up Page
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .register-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid red;
        background: $white;
        max-width: 500px;

        .register-box {
            width: 40%;
        }
    }
}
