/* =-=-=-=-=-=-=-=-=-=-=-=-
         Variables
=-=-=-=-=-=-=-=-=-=-=-=- */
$kelly-green: #639275;
$white: #FFF;

// HERO FONT: PLAYFAIR DISPLAY ITALIC
// SECONDARY FONT: HELVETICA


// Component Styles
//
.entire-page {
    background: radial-gradient(ellipse at bottom left, $kelly-green 40px, $white 50%);
    height: 99vh;
    border: 3px solid red;
}

.nav-bar {
    .logo {
        justify-content: flex-start;
    }

    .icons{
        justify-content: flex-end;
    }


    border-bottom: 1px solid black; 
}

.side-bar {
    display: flex;
    justify-content: flex-start;
}

.main-body {
    display: flex;
    justify-content: flex-end;
}