.nav-container {
    display: flex;
    width: 100%;
    background-color: silver;
    height: 5rem;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;

    .nav-left {

        flex: 3;

        .logo {
            font-weight: bold;
            font-size: 1.9rem;
            font-style: italic;
            color: wheat;
            margin-left: 10px;
        }

    }


    .nav-center {
        flex: 5;
    }




    .nav-right {
        flex: 4;
        display: flex;
        align-items: center;
        color: wheat;
        justify-content: space-around;

        .nav-links {
            margin-right: .5em;
            display: flex;

            .nav-link-item {
                margin-left: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;


                .nav-link {
                    margin-left: .5rem;
                }
            }

        }

        .nav-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
            object-fit: cover;
        }

    }
}

